@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");


* {
    font-family: "Poppins", sans-serif;
  }
  
#wrapper{
    background-color: #028E98;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;

}
#nav {
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 100px;
    border-radius: 8px;

}

#logo {
    text-align: left;
}

#leftcolumn{
    float: left;
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 8px;
}
#rightcolumn{
    float: right;
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 15px;
    background-color: #e9e9e9;
    border-radius: 8px;
}
#section{
    background-color: whitesmoke;
    text-align: left;
    margin-top: 20px;
    margin-left: 320px;
    margin-right: 320px;
    padding: 15px;
    height: auto;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

}
#section2{
    background-color: whitesmoke;
    text-align: left;
    margin-top: 20px;
    margin-left: 320px;
    margin-right: 10px;
    padding: 15px;
    height: auto;
    width: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
#footer {
    font-size: 0.70em;
    font-style: italic;
    padding: 20px;
    margin: 10px;
    background-color: whitesmoke;
    width: auto;
    height: auto;
    border-radius: 8px;

}

#carrousel {
    position: relative;
    height: 500px;
    width: 700px;
    margin: auto;
}
#carrousel ul li{
    position: absolute;
    top: 50px;
    left: 150px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


.contact {
    font-family: "Times New Roman", serif;
    font-size: .90em;
    font-weight: bold;
}

.img-circle {
    border-radius: 50%;
    margin: 30px;
    width: 160px;
    height: 160px;
}

.case {
    background-color: white;
    margin-right: 10px;
    margin: 10px;
    padding: 10px;
    height: 100px;
}

.case3 {
    background-color: white;
    margin-left:15px;
    margin: 10px;
    padding: 10px;
    height: 180px;
}

.case2 {
    background-color: #eeeaec;
    padding-bottom: 10px;
    padding-top: 10px;
}
input[type="file"] {
    display: block;
    width: 100%;
    max-width: 100%;
    white-space: normal;
    word-wrap: break-word;
}


/*CSS de la messagerie*/
#chatbox {
    background-color: #f9f9f9;
    border: 2px solid #028e98;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}



/*  CA SERT A RIEN POUR L'INSTANT*/
#chatbox p {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

#chatbox p.user {
    background-color: #d1e7dd;
    text-align: right;
    margin-left: auto;
}

#chatbox p.other {
    background-color: #f8d7da;
    text-align: left;
    margin-right: auto;
}
/* JUSQU'ICI */




#message_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#usermsg {
    width: 80%;
    padding: 10px;
    border: 2px solid #028e98;
    border-radius: 5px;
    font-size: 1em;
}


#submitmsg,
#enter {
    background: #ffffff;
    border: 2px solid #028e98;
    color: #028e98;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}

#submitmsg:hover {
    background-color: #028e98;
    border: 2px solid white;
    color: white;
}


/*CSS pour l'effet de click sur la conversation*/
.friend {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.friend:hover {
    font-size: 1.1em;
    transition: font-size 0.2s;
}

.friend.selected {
    font-weight: bold;
}



/* Styles pour les liens de navigation */
nav a img {
    border-radius: 10px;
    transition: transform 0.2s;
}

nav a img:hover {
    transform: scale(1.1);
}



/* Style pour les popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
}

.popup1 .popup-content {
    width: 740px;
    height: 540px;
}

.popup2 .popup-content {
    width: 740px;
    height: 540px;
}

.popup3 .popup-content {
    width: 740px;
    height: 430px;
}

.popup4 .popup-content {
    width: 740px;
    height: 466px;
}

.popup5 .popup-content {
    width: 740px;
    height: 540px;
}

.popup6 .popup-content {
    width: 740px;
    height: 430px;
}

.popup7 .popup-content {
    width: 740px;
    height: 466px;
}

.popup8 .popup-content {
    width: 740px;
    height: 540px;
}

.popup9 .popup-content {
    width: 740px;
    height: 540px;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.nav-link img {
    transition: transform 0.3s ease;
}

.nav-link img:hover {
    transform: scale(1.1);
}

.notification-item {
    background-color: #4d5156;
    color: black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.nav-link img:hover {
    transform: scale(1.1);
}

.notification-item {
    background-color: #4d5156;
    color: black;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #028e98;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: white;
    color: #028e98;
}
