#wrapper{
    background-color: pink;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 10px;

}
#nav {
    font-weight: bold;
    font-size: 1.2em;
    background-color: white;
    text-align: center;
    padding-top: 10px;
}
#logo {
    text-align: left;
}

#leftcolumn{
    float: left;
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-right: 10px;
    padding: 15px;
    background-color: lavender;
}
#rightcolumn{
    float: right;
    width: 300px;
    height: auto;
    margin-top: 20px;
    margin-left: 10px;
    padding: 15px;
    background-color: lavender;
}
#section{
    background-color: lightyellow;
    text-align: left;
    margin-top: 20px;
    margin-left: 310px;
    margin-right: 310px;
    padding: 10px;
    height: auto;
    width: auto;
    ;
}
#footer {
    font-size: 0.70em;
    font-style: italic;
    padding: 10px;
    background-color: lightsalmon;
    width: auto;
    height: auto;
}

#carrousel {
    position: relative;
    height: 500px;
    width: 700px;
    margin: auto;
}
#carrousel ul li{
    position: absolute;
    top: 50px;
    left: 150px;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}


.contact {
    font-family: "Times New Roman", serif;
    font-size: .90em;
    font-weight: bold;
}

.img-circle {
    border-radius: 50%;
    margin: 30px;
    width: 160px;
    height: 160px;
}

.case {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

.case2 {
    background-color: #028E98;
    margin: 10px;
    padding: 10px;
}



/*CSS de la messagerie*/
#chatbox {
    background-color: #f9f9f9;
    border: 2px solid #028e98;
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}




/*  CA SERT A RIEN POUR L'INSTANT*/
#chatbox p {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

#chatbox p.user {
    background-color: #d1e7dd;
    text-align: right;
    margin-left: auto;
}

#chatbox p.other {
    background-color: #f8d7da;
    text-align: left;
    margin-right: auto;
}
/* JUSQU'ICI */




#message_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#usermsg {
    width: 80%;
    padding: 10px;
    border: 2px solid #028e98;
    border-radius: 5px;
    font-size: 1em;
}


#submitmsg,
#enter {
    background: #ffffff;
    border: 2px solid #028e98;
    color: #028e98;
    padding: 4px 10px;
    font-weight: bold;
    border-radius: 4px;
}

#submitmsg:hover {
    background-color: #028e98;
    border: 2px solid white;
    color: white;
}

/*CSS POUR LES NOMS DES GENS DANS LA CONVERSATION
A ARRANGER C'EST NUL */
.msgln b.user-name,
.msgln b.user-name-left {
    font-weight: bold;
    color: #028e98;
    padding: 2px 4px;
    font-size: 90%;
    border-radius: 4px;
    margin: 0 5px 0 0;
}

.msgln b.user-name-left {
    color: orangered;
}



/* Styles pour les liens de navigation */
nav a img {
    border-radius: 10px;
    transition: transform 0.2s;
}

nav a img:hover {
    transform: scale(1.1);
}


